<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Click the Buttons below to Test Google API modules!!!</h1>
    <div class="move">
      <form class="" action="/home" method="get">
      <button type="submit" name="button">Calculate Distance</button>
    </form>

    <form class="" action="/home1" method="get">
      <button type="submit" name="button">Get Directions</button>
    </form>
    </div>
  </body>
</html>
